@media only screen and (max-width: 1130px) {
    #conte,#horreur,#manga,#BD,#roman {
      height: 90em;
    }
    .right {
      margin-top: 2%;
  }
}
  @media only screen and (max-width: 620px) {

    /*Faire aligner les images*/
    .right {
      margin: 2% 15% 0 15%!important;
    }
    .left {
      margin: 0 15% 0 15%!important;
    }
  }
  @media only screen and (max-width: 550px) {

    /*Faire aligner les images*/
    .right {
      margin: 2% 12% 0 12%!important;
    }
    .left {
      margin: 0 12% 0 12%!important;
    }
  }
  @media only screen and (max-width: 500px) {

    /*Faire aligner les images*/
    .right {
      margin: 2% 10% 0 10%!important;
    }
    .left {
      margin: 0 10% 0 10%!important;
    }

  }


  /*boutton haut de page*/

  #scroll_to_top {
    position: fixed;
    width: 8%;
    height: auto;
    bottom: 50px;
    right: 30px;
    background-color: rgb(54, 155, 250);
    padding: 5px ;
    text-align: center;
    border: solid black;
    font-family: cursive;
    font-size: large ;
    color: black
  }
  .scroll_to_top :hover{
    text-decoration: underline;
 }

  *{
    margin: 0px;
    padding: 0px;
    font-family: Avenir, sans-serif;
}

  html{
    background-color: rgba(189, 185, 185, 0.918);
  }


  header{
    background-color: rgb(54, 155, 250)
  }

  /*Les sections et titres*/

  section{
    background-color: rgba(240, 234, 234, 0.925);
    border: solid black;
    border-radius: 50px;
    margin: 0px 50px 50px 50px;

  }


  h1{
    width: 50%;
    font-size: xx-large;
    text-align: center;
    text-decoration: black underline double;
    font-weight: 900;
    font-family: cursive;
    background-color: rgb(132, 210, 255);
    border-bottom: 4mm ridge rgb(65, 85, 249);
    border-top: 4mm ridge rgb(65, 85, 249);
    border-left: 4mm ridge darkblue;
    border-right: 4mm ridge darkblue;
    color: black;
    margin: 20px 0px 20px 25%;
    text-shadow: gold 0 0 15px;
  }



/*Les livres*/



/*effet de zoom sur les images*/

.zoom img {
    width:300px;
    height:500px;
    border: 4mm ridge rgb(65, 85, 249);
    padding: 5px;
    margin: auto;
    background-color: rgb(132, 210, 255);
    }

.zoom img:hover {
    width:350px;
    height:550px;
    border: 4mm ridge rgb(65, 85, 249);
    padding: 5px;
    margin: auto;
    background-color: rgb(132, 210, 255);
    
    }

.livre{

float: left;
margin-bottom: 100px;
}

.tll{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  grid-column: 3;
  grid-row: 4;
}
 .test{
   grid-column: 3;
   grid-row: 4;


 }


  /*Menu déroulant*/

  nav{
      width: 100%;
      padding: 20px 0px 25px 0px;
      background-color: rgb(132, 210, 255);
      position: sticky;
      border-bottom: 3mm ridge rgb(65, 85, 249);
      border-top: 3mm ridge rgb(65, 85, 249);
  }
 /*enlever les points sur les listes*/
  nav ul{
      list-style-type: none;
  }
/*position du menu deroulant */
  nav ul li{
      float: left;
      width: 25%;
      text-align: center;
      position: relative;
  }
/*decoration du premier menu deroulant*/
  nav a{
      display: block;
      text-decoration: none;
      color: black;
      border-bottom: 2px solid transparent;
      padding: 10px 0px;
      font-family: cursive;
      font-size: x-large;
  }
/*changement de couleur du menu au passage de la souris*/
  nav a:hover{
      color: grey;
      border-bottom: 2px solid red;
  }
/*decoration du sous menu*/
  .sous{
      display: none;
      background-color: white;
      position: absolute;
      width: 100%;
      z-index: 1000;/*numero de couche*/
  }

  nav > ul li:hover .sous{
    display: block;
}
/*position des listes dans le sous menu*/
  .sous li{
    float: none;
    width: 100%;
    text-align: center;
}
/*decoration des textes du sous menu*/
  .sous a{
    padding: 10px;
    border-bottom: none;
}
/*decoration du sous menu au passage de la souris */
  .sous a:hover{
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
    text-decoration: underline;
}
/*ajout d'un caractere custom pour le premier menu*/
  .deroulant > a::after{
    content:" ▼";
}


  /*Icônes du sous menu*/

  .pow a::before, .pow a::after{
    content: url(../img/icone/bd.png);
    margin: 0 5% 0 5%;
  }
  .magie a::before, .magie a::after{
    content: url(../img/icone/magie2.jpg);
    margin: 0 10% 0 10%;
  }
  .fantome a::before, .fantome a::after{
    content: url(../img/icone/fantome.png);
    margin: 0 10% 0 10%;
  }
  .plumier a::before, .plumier a::after{
    content: url(../img/icone/plumier2.png);
    margin: 0 10% 0 10%;
  }
  .japon a::before, .japon a::after{
    content: url(../img/icone/japon3.png);
    margin: 0 10% 0 10%;
  }


  .marge{
    margin: 50px 20px;
    height: 50px;
  }
/*structure de la page*/
  body {
    display: flex;
    flex-flow: column nowrap;
  }
